

h1{
    font-family: 'Playfair Display', serif;
    font-size:50px;
    text-align: center;
}


body {margin: 0;}
.menuul{
    list-style-type: none;
     margin:0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 3;
    
}
.menuli{
    float:left;
}
.amenu{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}
.amenu:hover{
    background-color: yellow;
    color:black;
}
.imgi{
float: left;
padding: 30px;
margin-top: 20px;
z-index: 3;

}

.p2{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
   

}
.p1{
    
    padding-right: 50px;
    text-align: justify;
    font-size: 22px ;
    font-family: 'Playfair Display', serif;
}

.acolor{
    background-color: yellow;
    color: black;
}



.hl{
    font-family: 'Playfair Display', serif;
    color: rgb(47, 151, 192);
    font-size: 30px;
    text-decoration: none;
    
    
}
.hl:hover{
    color: blue;
}
h3{
    font-family: 'Playfair Display', serif; 
}
.p3{
    text-align: justify;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 20px;
}
.imgcenter{
    float:right;
    height: auto;
    width: auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
   
}
.h2edition{
    font-family: 'Playfair Display', serif;
    color: rgb(47, 151, 192);
    font-size: 2.3vmin;
    

}

.p4{
    font-family: 'Playfair Display', serif; 
    font-size: 2vmin;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 10%;
    text-align: justify;
}

.imgfloat{
    float: left;
    height: 20vmin;
    width: 20vmin;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
}

.apdf{
    color: rgb(0, 203, 230);
    font-size: 2.5vmin;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    
}

.apdf:hover{
    color:rgb(68, 0, 255);
}

.lforo{
    color: rgb(0, 203, 230);
    text-decoration: none;
    font-size: 2.5vmin;
    font-family: 'Playfair Display', serif;
    margin-left: 1%;

}

.lforo:hover{
    color:rgb(68, 0, 255);
}

.dibujo{
    margin-top: 40px;
    height: 50px;
    width: 30px;
}

.imgcenter2{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    height: auto;
    max-width: 90%;
    padding-bottom: 8%;
    
    
}

.hagora{
    color:white;
    font-size:  80px;
    position: relative

   
}


.div123{
    font-family: 'Playfair Display', serif; ;
    background-color: black;
    padding-top: 0.5%;
    margin-left: 20%;
    margin-right: 20%;
   

    
}

.textbox{
    width: 400px;
    border-color: black;
    border-style: solid;
    height: 35px;
    
    
}

.button1{
    color:white;
    background-color: black;
    font-family: Lobster;
    width: 400px;
    height: 35px;
    font-size: 20px;
}

.div124{
    font-family: 'Playfair Display', serif; 
    text-align: center;

    display: block;
}

.body1{
    background-image: url("i/acro.png");
}

.body40{
    background-image: url("i/f3.jpg");
}

.body41{
    background-image: url("i/86280.jpg");
}

.textcolor{
    color: black;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
}


.position1{

    position: relative;
    margin-top: 15%;

}

.body2{
    background-image: url("i/fondo.png");
}


.circle {
    max-width: 30%;
    max-height: 30%;
    margin-top: 10%;
    margin-right: auto;
    padding: 0px;
   float: right;
  }



  .div1{
      background-color: white;
      margin-top: 8%;
  }
  
  .p6{
    font-family: 'Playfair Display', serif;
    font-size: 150%;
    margin-top: 0%;
    text-align: center;
    color: rgb(0, 168, 154);
  }

  .p6:hover{
    font-size: 152%;
    color: rgb(0, 151, 76);
  }

  .div40{
    background-color: white;
    margin-top: 3%;
    position: relative;
    z-index: -1;
}

.n1{
    margin-left: 65%;
    max-height: 40%;
    max-width: 30%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.p40{
    color: white;
    font-family: 'Playfair Display', serif;
    width: 50vw;
    font-size: 3.5vmin;
    position: absolute;
    margin-top: 20%;
    margin-left:  5%;
    text-align: center;
}

.p40:hover{
    font-size: 3.6vmin;
    
}
  
.p41{
    position: absolute;
    color: white;
    font-size: 3.5vmin;
    margin-left: 1%;
}

.p41:hover{
    font-size: 3.6vmin;
    
}

.a1{
    margin-left: 5%;
  
    max-width: 30%;
    max-height: 50%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.p42{
    color: black;
    font-family: 'Playfair Display', serif;
    width: 50vw;
    font-size: 3.5vmin;
    position: absolute;
    margin-top: 20%;
    margin-left: 40%;
    text-align: center;
}

.p42:hover{
    font-size: 3.6vmin;
}

.franja{
    margin-left: 50%;
}

.p43{
    color: white;
    font-family: 'Playfair Display', serif;
    width: 50vw;
    font-size: 3.5vmin;
    position: absolute;
    margin-top: 22%;
    margin-left:  5%;
    text-align: center;
}
.p43:hover{
    font-size: 3.6vmin;}

.a2{
    margin-left: 5%;
    
    max-width: 40%;
    max-height: 40%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 5px;
    border-style: solid;
    border-color: rgb(138, 135, 135);
    
}

.p44{
    color: black;
    font-family: 'Playfair Display', serif;
    width: 50vw;
    font-size: 3.5vmin;
    position: absolute;
    margin-top: 17%;
    margin-left: 46%;
    text-align: center;
}

.p44:hover{
    font-size: 3.6vmin;
}



.contacto{
    margin-top: 5px;
    margin-left: 5%;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
    width: 20vw;
    height: 25vh;
}





.h40{
    font-family: 'Playfair Display', serif;
    font-size: 80%;
    color: rgb(0, 0, 0);
    margin-left: 1%;
    margin-bottom: 0%;
    margin-right: 70%;
    
}

.divc{
    background-color: rgb(238, 238, 238);
    padding-top: 0%;
    padding-bottom: 1%;
    

}

.h70{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    padding-top:0px ;

}


.float-container {
    
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 20vmin;
}

.float-child {
    width: 46%;
    float: left;
    padding: 0px;
    border: 2px solid rgb(201, 201, 201);
    background-color: white;
    margin-top: 1%;
    
}  



.foucault{
    float: left;
    width: 50%;
    height: auto;
    padding-right: 2%;

}

.p8{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size:3vmin ;
    color: black;

}

.p8:hover{
    font-size: 3.2vmin;
}

.p9{
    position: relative;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-size: 2vmin;
    margin-right:2%;
}

.float-child2 {
    width: 46%;
    float: right;
    padding: 0px;
    border: 2px solid rgb(201, 201, 201);
    background-color: white;
    margin-top: 2%;
}  



.foucault2{
    float: right;
    width: 50%;
    height: auto;
    padding-left: 2%;

}





.p10{
    position: relative;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-size: 2vmin;
    margin-left:2%;
}


.foucault3{
    width: 100%;
    height: auto;
}

.h35{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3vmin;
}

.buttonpdf
{
background-color: white;
color: rgb(0, 203, 230);
font-size: 2.5vmin;
font-family: 'Playfair Display', serif;
border-color: white;
}

.placeholderimage{
   float: right;

}

.userclass{

    font-size: 4vmax; 
    font-family: 'Playfair Display', serif;
    margin-left:2%;
}

.placeholderuser{
    height:30vmax; 
    width:30vmax; 
    margin-left:5%;
    border-radius: 50%;
    margin-right: 5%;
    margin-bottom: 20%;
    float: left;
    
}

.formimageuser{

    margin-top: 1%;
    margin-bottom:1%;

   
}

.warnings{
    text-align: center;
    color: rgb(241, 0, 0);
    font-size: 3vmin;
}

.profileinfo{
    color: rgb(0, 0, 0);
    font-size: 1.5vmax;
    margin-top:3%;
    font-family: 'Playfair Display', serif;
 
}

.profile{
    background-image: url("i/perfil.jpg");
}

.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-animate-top{position:relative;animation:animatetop 2s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
